.game-bar {
    grid-area: bar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: white;
    border-radius: $border-radius;
    height: 100%;
    font-weight: 700;

    .time-round {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        
        .clock {
            position: absolute;
            left: -8px;
            top: -9px;
            width: 64px;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, .15));
        }

        h2 {
            margin-inline-start: 3em;
            margin-block-start: 5px;
            font-size: 1.4em;
        }

        .time {
            position: absolute;
            top: 10px;
            left: 18px;
            font-size: rem(20px);
            font-weight: 800;
        }
    }

    .game-word {
        place-self: center;
        font-family: inconsolata;
        font-size: rem(16px);
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .settings {
        width: 42px;
        margin-block-end: 2px;
        margin-inline-end: 2px;
        place-self: end;
        cursor: pointer;
    }
}