* {
    box-sizing: border-box;
}

::selection {
    background-color: #4058f6;
    color: white;
}

html {
    font-family: nunito;
    line-height: 1.6;
}

body {
    margin: 0;
    background-image: url("https://skribbl.io/img/background.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


main, footer {
    padding: 5px;
}

button {
    font-family: nunito;
    color: $clr4;
    border:0;
    padding: 0;
    margin: 0;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
}

input, select {
    font-size: 1rem;
}

// form > * {
//     display: block;
//     width: 200px;
//     margin: 10px 0px;
// }

// img {
//     width: 100%;
// }

// p {
//     margin: 0 0 1em;
//     max-width: 40ch;
// }

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

