// Colors
$clr1: #53e237;
$clr2: #2c8de7;
$clr3: #0c2c96bf;
$clr4: #f0f0f0;
$clr_input_hover: white;
$clr_input_border_focus: #56b2fd;

$border-radius: 3px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;